.row {
   max-width: $grid-width;
   /*Center elements*/
   margin: 0 auto;

   &:not(:last-child) {
      // Define space between rows, except last row 
      margin-bottom: $gutter-vertical;  
      @include respond(tab-port) {
        margin-bottom: $gutter-vertical-small;
      }
   }

   /* Make elements it does not occupy all width of screen */
   @include respond(tab-port) {
       max-width: 50rem;
       padding: 0 3rem;
   }
   
   
   // Clear float
   @include clearfix;

   /* Select all elements that with class tha begin with "col-" 
   this is usefull to not repeat code, is a technique of
   refactorization*/
   [class^="col-"] {
        // Set columns one aside other
        float:left;
        // Define space between columnsx except the last one
        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        // this remove width of .col-*-of-* div
        @include respond(tab-port) {
            width: 100% !important;
        }
   }

   /*To calc function work properly, numbers around "+" and "-"
     operators must have an space, and numbers around "*" and
     "/" must not contain space*/
   .col-1-of-2 {
        // Width of columns in rows of two columns
        width: calc((100% - #{$gutter-horizontal})/2);
    }

    .col-1-of-3 {
        // Width of columns in rows of two columns
        width: calc((100% - 2*#{$gutter-horizontal})/3);
    }

    .col-2-of-3 {
        width: calc( 2 * ((100% - 2*#{$gutter-horizontal})/3) + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3*#{$gutter-horizontal})/4);
    }

    .col-2-of-4 {
        width: calc( 2 * ((100% - 3*#{$gutter-horizontal})/4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3*#{$gutter-horizontal})/4) + #{$gutter-horizontal});
    }
}
